*, html, body{
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 17, 17);
}

:root{
    --color-primary: rgb(19, 17, 17);
}

.container{
    
    /* justify-content: center;
    text-align: center; */
    width: auto;
    height: auto;
    /* background-color: #fff4f4; */
    background-color: rgb(19, 17, 17);
    padding: 10px;
}

/* ubah padding bagian wrapper dan judul */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 6px;
    width: auto;
    height: auto;
    background-color: rgb(19, 17, 17);
    box-shadow: 0px 6px 14px 0px rgba( 0, 0, 0, 0.8);
    position: sticky;
}

.judul{
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    padding: 6px;
    font-size: 1.6em;
    font-family: 'Gloria Hallelujah', cursive;
}

.firstname{
    font-weight: 700;
    color: aliceblue;
}

.secondname{
    font-weight: 700;
    color: rgb(49, 199, 204);
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li{
    list-style-type: none;
    padding: 16px;

}

.navigation>li>a{
    color: aliceblue;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>a:hover{
    font-size: 20px;
    color: rgb(49, 199, 204);
    transition: all .3s ease-in-out;
}

.active{
    background-color: rgb(49, 199, 204);
    padding: 15px;
    color: aliceblue;
    border-radius: 18px;
}

.active:hover{
    color: aliceblue !important;
}

img{
    width: 300px;
    height: 40%;
    border-radius: 50% !important;
}

.main{
 color:  aliceblue;
 width: auto;
 height: 100vh;
 text-align: center;
 padding-top: 8%;
 font-size: 45px;
}

.title{
    font-size: 75px;
    font-family: 'Secular One', sans-serif;
}

#about{
    color: white;
    font-size: 25px;
    text-align: center;
    height: 100vh;
    padding-top: 20%;
    margin: 25px;
    font-family: 'Signika', sans-serif;
}

#contact{
    text-align: center;
    justify-content: center;
    padding-top: 10em;
    padding-bottom: 60vh;
    display: flex;
    color: white;
}

.card{
    padding: 32px;
    margin: 8px;
}

.title-card{
    font-size: 35px;
}

#contact i{

    color: white;
    padding-top: 13px;
}

.description{
    padding-top: 8px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
}


#footer{
    color: white;
}

@media only screen and (max-width: 600px) {
    .wrapper{
        width: 100%;
    }

    .navbar{
        display: flex;
        position: -webkit-sticky;
        height: 20%;
    }

    .navbar .navigation{
        margin: 0;
        padding: 0;
    }

    .main{
        text-align: center;
        align-items: center;
    }

    #about{
        color:crimson;
    }

    #contact{
        height: max-content;
        color: aqua;
    }
  }
